.customRange {
    -webkit-appearance: none;
    appearance: none;
    width: 130%;
    height: 10px;
    background: #ddd;
    outline: none;
    border-radius: 9999px;
  }
  
  .customRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fb923c; /* Color azul, puedes cambiarlo */
    cursor: pointer;
    border-radius: 50%;
  }
  
  .customRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fb923c;
    cursor: pointer;
    border-radius: 50%;
    border: none;
  }
  
  .customRange::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fb923c;
    cursor: pointer;
    border-radius: 50%;
  }